<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/index.css" rel="stylesheet"/>
    <script src="../static/jquery-3.6.0.js"></script>
    <script src="../static/echarts.min.js"></script>
    <script src="../static/china.js"></script>
    <script src="../static/echarts-wordcloud.min.js"></script>
    <title>疫情监控系统</title>
</head>
<body>
    <div id="title">全国疫情实时追踪</div>
    <div id="tim">实时时间</div>
    <div id="l1">lef1</div>
    <div id="l2">lef2</div>
    <div id="c1">
        <div class="num"><h1>123</h1></div>
        <div class="num"><h1>123</h1></div>
        <div class="num"><h1>123</h1></div>
        <div class="num"><h1>123</h1></div>
        <div class="txt"><h2>累计确诊</h2></div>
        <div class="txt"><h2>剩余疑似</h2></div>
        <div class="txt"><h2>累计治愈</h2></div>
        <div class="txt"><h2>累计死亡</h2></div>
    </div>
    <div id="c2">middle2</div>
    <div id="r1"></div>
    <div id="r2">right2</div>
    <script src="../static/control.js"></script>
    <script src="../static/center2.js"></script>
    <script src="../static/left_1.js"></script>
    <script src="../static/right_1.js"></script>
    <script src="../static/right_2.js"></script>
    <script src="../static/left_2.js"></script>
</body>
</html>